/** Cabecaço search div contém pesquisa e botão pesqusa */
.App-style-container-forms {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1px;
  width: 100%;
}

.App-form-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.input-style-login {
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  width: 250px;
}

.input-style-search {
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  width: 800px;
}

.App-style-cabecalho-result {
  background: white;
  display: flex;
  height: 65px;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.login-styles {
  align-items: center;
  display: flex;
  height: 65px;
  justify-content: end;
}

button {
  background-color: #5d4291;
  border: 0.5px solid #333;
  color: white;
  cursor: pointer;
  height: 45px;
  margin-left: 18px;
  margin-right: 18px;
  width: 90px;

}

button:hover {
  background: whitesmoke;
  border: 2px solid black;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

h2 {
  color:whitesmoke;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 25px;
}

.img-login-personalize {
  height: 85px;
  padding: 18px;
  width: 85px;
}

.styl-img-name-login {
  align-items: center;
  display: flex;
}

.style-label-img-input {
  align-items: center;
  display: flex;
}

