*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
font: 400 1rem 'Roboto', sans-serif; 
width: 100vw;
height: 100vh; 

  
  background: url('../src/assets/backGroundFundo.jpg');
  background-position: center;
  background-size:cover; 
  background-position:top; 
  background: cover; 
  
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
.App-container-head{
  background: #292D3E;
  border:1px solid #333;
  color: whitesmoke;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  flex-direction: column;
  height: 80px;
  width: 100%;
 }

.App-style-head{
  display: flex;
  height: 55px;
  justify-content: start;
  width: 100%;
}

.App-style-nav-links{
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: whitesmoke;
  
}
a:link {
  color:red;
  background:whitesmoke ;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 25px;
  text-decoration:none;
}
a:link:hover{
  height: 35px;
  background-color: #5d4291;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:visited {
  color:#5d4291;
  font-weight: 200;
  text-decoration:none;
}
a:hover {
  color:#000000;
  text-decoration:underline;
}
a:active {
  color:#333;
  text-decoration:underline;
  background-color:#000000;
}

.App-style-name-user{
  display: flex;
  background-color: whitesmoke;
  font-size: 20px;
  width: 200px;
}

.Resul-style-pesquisa{
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Result-cart-album{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 12px 12px 12px 12px;
  width: 160px;
}
.App-style-album{
  background-color: yellow ;
  border: 5px solid black;
 }
.Muisc-card-container-main{
  background-color: whitesmoke;
  border: 5px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Album-title-style{
  width: 100%;
  height: 500px;
  background: yellow;
  border: 15px solid black;
}
